html,
body {

    overflow-x: hidden;
    margin-top: 1px;
    
}


// padding pour pallié certain soucie que j'aurais pu avoir avec une marge sur le body, 
body {

    & header,
    main,
    section,
    footer {
    
        padding: 0 4rem;
            
    }
        

}