// Utilisation des grids css
main {

    display: grid;
    grid-template-columns: 3fr 1.5fr;
    grid-column-gap: 20px;

    & article,
    aside {

        background: $grey;
        border-radius: 25px;

        padding: 50px 25px 50px 25px;

    }

    & article {

        & h3 {

            font-size: 1.5rem;
            margin:0 0 2rem 1rem;

        }

        & > .cards {

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            justify-items: center;
    
            grid-column-gap: 20px;
            grid-row-gap: 50px;
    
        }

        & > .article-link a {

            display: inline-block;
            margin: 4rem 0 0 1rem;
            font-size: 1.3rem;
            font-weight: 800;
    
        }

    }

    & aside {

        .aside-title {

            display: flex;
            justify-content: space-between;

            & h3, i {

                font-size: 1.5rem;
                margin-bottom: 2rem;

            }

        }


        & > .cards {

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            justify-items: center;
            grid-row-gap: 50px;
    
        }

    }   



}