// section Activités de ...

section {

    & h4 {

        font-size: 2rem;
        margin-bottom: 2rem;
        margin-left: 10px;

    }

    & .cards {

       padding: 10px;
        

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 50px;


        & .cards-p1 {

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1.5fr 1fr;
    
            grid-row-gap: 50px;
            grid-column-gap: 50px;
    
            & :nth-child(1) {
    
                grid-column-start: 1;
                grid-row-start: 1;
                grid-row-end: span 2;
    
            }
    
            & :nth-child(3) {
    
                grid-column-start: 2;
                grid-row-start: 2;
               
            }
    
    
        }
    
        & .cards-p2 {
    
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr 1fr;
    
            grid-row-gap: 50px;
            grid-column-gap: 50px;
    
    
            & :nth-child(1) {
    
                grid-column-start: 1;
                grid-row-start: 1;
                grid-row-end: span 2;
    
    
            }
    
        }

    }

}


