// ############### HEADER ##############################
// Effet sur search bar
.intro-searchbar {

    & button {

        transition: .9s;
    
        // deux transitions sont ajouté, afin cas la disparition du hover il prends un certain temps avant de revenir a sa position initiale
        &:hover {

            transition: .3s;
            box-shadow: 0 0 4px 1px $skyBlue;
            filter: saturate(400%);

        }

    }

}

// effet sur filtre de recherche
.intro-filter {

    & p {

        // transition pour hover 
        transition: .9s;

        &:hover {

            transition: 1s;
            filter: saturate(100%);
            background: $lowBlue;
            color: rgba(0, 0, 0, 0.671);
            
        }

    }

}



// ############### MAIN ################################
// card animation pour le survol
.card {

    transition: .9s;

    // Animation au hover, avec un retour lent
    &:hover {

        transition: .4s;
        transform: scale(1.015);
        //box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.342);
        box-shadow: 0px 5px 20px #999;

    }

}

// etoile
// EFFET AU HOVER ETOILE VIDE
.fa-star {

    color: rgba(0, 0, 0, 0.180);

    transition: .7s;

    &:hover {

        transition: .4s all ease;
        font-weight: bold;
        color: $skyBlue;

    }

}

// EFFET AU HOVER ETOILE BLEU
.star {

    font-weight: bold;
    color: $skyBlue;
    transition: .7s;

    &:hover {

        transition: .4s all ease-out;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.180);

    }

}

// lien AFFICHER PLUS en bas des cartes Hebergements à ..
.article-link {

    & p a {

        transition: .3s;

        &:hover {

            transition: .5s;
            color: rgba(0, 0, 0, 0.800);

            text-decoration: underline;
        
        }

    }

}