/* ############# RESET ############### */
/* Reset des comportements par defauts */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  color: black;
  font-size: 16px;
}



/* ############# BODY ############### */
/* Font - overflow - margin */
body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  margin-top: 1px;
}



/* ########## BODY Enfants ############ */
/* Le body est composé de 4 parties */
header,
main,
section,
footer {
  padding: 0 3rem;
}



/* ############# HEADER ############### */
/* Le header général et partie navigation - logo */
header {
  margin-bottom: 3rem;
}

header nav {
  margin-bottom: 2rem;
}

header nav ul {
  display: grid;
  grid-template-columns: 10fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

header .navbar-logo {

  transform: translateY(15px);

}

header nav ul li a {
  display: block;
  padding: 30px 30px 0 30px;
  font-size: 18px;
  border-top: 3px solid #f2f2f2f2;
}

header nav ul li a.active {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}

header nav ul li a.signup {
  color: #0065fc;
  font-weight: bold;
  border-top: 3px solid transparent;
}

/* ############# HEADER ############### */
/* introduction  */
.intro h1 {
  font-size: 28px;
  margin-bottom: 0.5rem;
}

.intro > p {
  font-size: 18px;
  margin-bottom: 2rem;
}

/* ############# HEADER ############### */
/* Barre de recherche */
.intro-searchbar {
  display: flex;
  width: 535px;
  border-radius: 15px;
  margin-bottom: 2rem;
}

/* icone */
header .fa-map-marker-alt {
  padding: 14px 26px 0px 25px;
  font-size: 18px;
  background: #f2f2f2f2;
  border-radius: 15px 0 0 15px;
}

/* INPUT  */
.intro-searchbar input {
  padding-left: 30px;
  height: 50px;
  border: none;
  border-top: 1px solid #f0eeeef2;
  border-bottom: 1px solid #f0eeeef2;
  width: 320px;
}

.intro-searchbar input:focus {
  outline-style: none;
}

.intro-searchbar input::placeholder {
  color: black;
  font-weight: 600;
}

/* BOUTON DE RECHERCHE */
.intro-searchbar button {
  cursor: pointer;
  padding: 10px 0;
  border: none;
  font-weight: 500;
  font-size: 20px;
  width: 150px;
  background: #0065fc;
  border-radius: 0 15px 15px 0;
  transition: 0.9s;
}

.intro-searchbar button span {
  color: white;
}

.intro-searchbar button i {
  display: none;
  color: white;
}

.intro-searchbar button:hover {
  transition: 0.3s;
  box-shadow: 0 0 4px 1px #0065fc;
  filter: saturate(400%);
}

/* ############# HEADER ############### */
/* Filtre de recherche */
.intro-filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: flex-start;
}

.intro-filter-title h2, 
.intro-filter-icon p {
  margin-bottom: 0.6rem;
}

.intro-filter p {
  cursor: pointer;
  display: inline-block;
  border: 2px solid #f2f2f2f2;
  border-radius: 30px;
  padding: 12px 25px 12px 60px;
  font-weight: 700;
  white-space: nowrap;
  position: relative;
}

.intro-filter p i {
  font-size: 1rem;
  position: absolute;
  left: -2px;
  top: -1.7px;
  color: #0065fc;
  background: #deebff;
  border-radius: 50%;
  padding: 15px 18px;
}

/* ciblage des icones pour rectification */
.intro-filter p:nth-child(0n+4) i {
  padding: 15px 15px;
}

.intro-filter p:nth-child(0n+3) i {
  padding: 15px 17px;
}

.intro-filter p:nth-child(0n+2) i {
  padding: 15px 19px;
}

.intro-filter p:nth-child(0n+1) i {
  padding: 15px 15px;
}

.intro-filter p {
  transition: 0.9s;
}

.intro-filter p:hover {
  transition: 1s;
  filter: saturate(150%);
  background: #deebff;
  color: black;
}

.intro-filter h2, 
.intro-filter p {
  margin-right: 1rem;
}

/* ############# HEADER ############### */
/* Outro */
.intro-info {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  margin-top: 2rem;
}

.intro-info i {
  margin-right: 0.7rem;
  background: #fafafa;
  border: 1px solid #f0eeee;
  border-radius: 50%;
  color: #0065fc;
  font-size: 12px;
  padding: 5px 10px;
  position: relative;
  top: -2px;
}



/* ############# MAIN ############### */
/* < ETAT GENERAL > main - Hotel/hebergement - Populaire */
main {
  display: grid;
  grid-template-columns: 3.2fr 1.6fr;
  grid-column-gap: 20px;
  margin-bottom: 5rem;
}

main #hotel,
main .populaire {
  background: #f2f2f2f2;
  border-radius: 25px;
  padding: 50px 25px 50px 25px;
}

main .card {
  transition: all .35s ease-in-out;
}

/* ############# MAIN ############### */
/* Hotel/hebergement - 'Hébergements à Marseille' */
main  #hotel h3 {
  font-size: 1.8rem;
  margin: 0 0 2rem 1rem;
}

main  #hotel > .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  grid-column-gap: 25px;
  grid-row-gap: 30px;
}

main  #hotel > .article-link a {
  display: inline-block;
  margin: 3.8rem 0 0 1rem;
  font-size: 1.3rem;
  font-weight: 800;
}

main >  #hotel .card {
  width: 100%;
  min-width: 235px;
  padding: 5px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 5px 20px rgba(153, 153, 153, 0.301);
}

main >  #hotel .card-img {
  border-radius: 20px 20px 0 0;
  height: 120px;
  width: 100%;
}

main >  #hotel .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

main >  #hotel .card-body {
  padding: 10px 15px 5px 15px;
}

main >  #hotel .card h5 {
  font-size: 18px;
  margin-bottom: 1px;
  min-height: 25px;
}

main >  #hotel .card p {
  margin-bottom: 3px;
  min-height: 22px;
  font-size: 16px;
  font-weight: 400;
}

main #hotel .card i,
main .populaire .card i {

  font-size: 13px;
  
}

/* ############# MAIN ############### */
/* Populaire - 'Les plus populaires' */
main .populaire > .cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  grid-row-gap: 40px;
}

main > .populaire .card {
  width: 100%;
  height: 160px;
  padding: 5px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 5px 20px rgba(153, 153, 153, 0.301);
}

main .populaire .aside-title {
  display: flex;
  justify-content: space-between;
}

main .populaire .aside-title h3,
main .populaire .aside-title i {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

main .populaire .aside-title i {
  transform: translateY(3px);
  margin-left: 10px;
}


main > .populaire .card-link {
  display: flex;
  width: 100%;
  height: 100%;
}

main > .populaire .card-img {
  border-radius: 20px 0 0 20px;
  min-width: 155px;
  max-width: 155px;
  height: 100%;
}

main > .populaire .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}

main > .populaire .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 5px 10px 15px;
}

main > .populaire .card h5 {
  min-height: 27px;
  margin-bottom: 5px;
  font-size: 20px;
}

main > .populaire .card p {
  min-height: 25px;
  margin-bottom: 9px;
  font-size: 16px;
}

main .populaire {
  padding: 50px 25px 0px 25px!important;
}



/* ############# MAIN ############### */
/* ETOILE NOTATION */
.fa-star {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.18);
  transition: 0.7s;
}

.fa-star:hover {
  transition: 0.4s all ease;
  font-weight: bold;
  color: #0065fc;
}

.star {
  font-weight: bold;
  color: #0065fc;
  transition: 0.7s;
}

.star:hover {
  transition: 0.4s all ease-out;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.18);
}

/* ############# MAIN ############### */
/* LIEN 'Afficher plus' */
.article-link p a {
  transition: all 0.3s ease-in-out;
  height: 27px;
}

.article-link p a:hover {
  transform: translateX(3px);
}

.article-link p a:hover::after {
  content: '';
  display: block;
  width: 30%;
  height: 2px;
  background: #000;
  transition: all 0.5s ease-in-out;
}

/* ############# MAIN ############### */
/* PRIX selectionne les parties => '25€' */
.card-text strong {
  font-weight: 600;
  font-size: 16px;
}

.card-text {
  color: rgb(0, 0, 0, .7);
  font-weight: 400;
}



/* ############# SECTION ############### */
/*  < ETAT GENERAL > Section et card en général  */
section {
  margin-bottom: 5rem;
}

section h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-left: 10px;
}

/* LAYOUT GRID  */
section .cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  padding: 10px;
}

section .card {
  transition: all 0.35s ease-in-out;
}

/* ALL CARD EFFECT */
section .card:hover,
main .card:hover, 
main #hotel .card:hover {
  transition: all 0.25s ease-in-out;
  box-shadow: 0px 5px 20px rgba(153, 153, 153, 0.85);
  filter: contrast(120%);
  filter: saturate(150%);
}

/* ############# SECTION ############### */
/* Partie 1 des grid */
section .cards-p1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1.35fr 1fr;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
}

section .cards-p1 :nth-child(0n+1) {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: span 2;
}

section .cards-p1 :nth-child(0n+3) {
  grid-column-start: 2;
  grid-row-start: 2;
}

/* ############# SECTION ############### */
/* Partie 2 des grid */
section .cards-p2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
}

section .cards-p2 :nth-child(0n+1) {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: span 2;
}

/* ############# SECTION ############### */
/* CARD */
section .card {
  height: 100%;
  min-height: 250px;
  padding: 0 0 5px 0;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 5px 20px rgba(153, 153, 153, 0.301);
  position: relative;
}

section .card-img {
  min-height: 100%;
  width: 100%;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

section .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section .card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  width: 100%;
  border-radius: 0 0 25px 25px;
  padding: 20px 10px 20px 20px;
}

section .card h5 {
  min-height: 25px;
  font-size: 20px;
}



/* ############# FOOTER ############### */
/* < ETAT GENERAL > footer  */

footer {
  width: 100%;
  height: 200px;
  background: #f2f2f2f2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 74px;
}

footer div {
  margin: 0 auto;
  width: 350px;
  min-width: 30%;
}

footer div a {
  transition: 0.5s;
}

footer div a:hover {
  transition: 0.3s;
  transform: translateX(10px);
  color: rgba(0, 0, 0, 0.274);
}

footer :nth-child(0n+1) {
  position: relative;
  top: 12px;
  margin-left: 0;
}

footer div h6 {
  margin-bottom: 1.5rem;
  font-size: 18px;
}

footer div a {
  display: block;
  margin-bottom: 0.5rem;
  color: rgba(0, 0, 0, .7);
}

/* FOOTER - Correction des links largeurs */
footer :nth-child(0n+1) a {
  max-width: 220px;
}

footer :nth-child(0n+2) a {
  max-width: 170px;
}

footer :nth-child(0n+3) a {
  max-width: 120px;
}


/* ############# MEDIA QUERIE ############### */
/* RESPONSIVE  */

/* RECTIFICATION MAIN TITLE AND TEXT */
@media only screen and (max-width: 1556px) and (min-width: 1201px) {

  main #hotel .cards .card .card-title {

    font-size: 1.1rem;

  }

}

/* CORRECTION TAILLE TEXT CARD => Populaire */
@media only screen and (max-width: 1306px) and (min-width: 1279px) {

  main .populaire .card .card-title {
    font-size: 16px;
  }

  main .populaire .card .card-text {
    font-size: 16px;
  }

}

/* HEADER - MAIN => HOTEL/HEBERGEMENT / POPULAIRE - SECTION - FOOTER */
@media only screen and (max-width: 1280px) {
  
  header {
    padding: 0!important;
  }

  header .navbar-logo {

    transform: translateY(0px);
  
  }

  header nav ul {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "logo register" "link1 link2";
  }

  header nav ul :nth-child(0n+1) {
    grid-area: logo;
  }

  header nav ul :nth-child(0n+2) {
    grid-area: link1;
  }

  header nav ul :nth-child(0n+3) {
    grid-area: link2;
  }

  header nav ul :nth-child(0n+4) {
    grid-area: register;
  }

  header nav ul li .navbar-logo {
    text-align: left;
    position: relative;
    top: 0px;
    left: 20px;
  }

  header nav ul .nav-item a {
    text-align: center;
    border-top: none;
    border-bottom: 3px solid #f2f2f2f2;
    padding: 30px;
  }

  header nav ul .nav-item a.active {
    border-top: none;
    border-bottom: 3px solid #0065fc;
  }

  header nav ul .nav-item a.signup {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    text-align: right;
    padding-right: 20px;
  }

  header .intro {
    padding: 0 20px;
  }

  header .intro-searchbar {
    max-width: 100%;
  }
  
  header .intro-searchbar input {
    min-width: 200px;
  }

  header .intro-searchbar button {
    max-width: 50px;
    border-radius: 15px;
    transform: translateX(-10px);
  }

  header .intro-searchbar button span {
    display: none;
  }

  header .intro-searchbar button .fa-search {
    display: block;
  }

  main {
    padding: 0 !important;
    display: flex;
    flex-direction: column-reverse;
  }

  main #hotel {
    padding: 50px 20px !important;
    margin-top: 3rem;
    background: none;
  }

  main #hotel > .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 20px;
  }

  main .populaire {
    padding: 50px 20px !important;
    max-height: 900px;
    border-radius: 0px;
  }

  main .populaire > .cards {
    grid-row-gap: 20px !important;
  }

  section {
    padding: 0px 20px !important;
  }

  section .cards {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 50px;
  }

  section .cards .cards-p2 :nth-child(0n+1) {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: span 2;
  }

  footer {
    padding: 0 30px;
  }

}

/*  FOOTER  */
@media only screen and (max-width: 900px) {

  footer {
    padding: 0 30px !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    text-align: left;
  }

  footer div {
    margin: 20px 0;
    width: 220px;
  }

  footer :nth-child(0n+1) {
    position: static;
    top: 0px;
  }

}

/* MAIN => HOTEL/HEBERGEMENT - SECTION */
@media only screen and (max-width: 650px) {

  main  #hotel .cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 20px;
  }

  main  #hotel .cards :nth-child(0n+4) .card-img img,
  main  #hotel .cards :nth-child(0n+6) .card-img img {
    width: 100%;
  }

  main #hotel {
    padding-bottom: 0!important;
  }

  main  #hotel > .article-link a {

    margin: 2.5rem 0 0 .5rem;

  }

  main {
    margin-bottom: 3.5rem;
  }

  section {
    margin-bottom: 3rem;
  }

  section .cards {
    padding: 0;
    grid-row-gap: 25px;
  }

  section .card {
    min-height: 210px;
  }

  section .card-body {

    padding: 15px 10px 15px 20px;
  }

  section .cards .cards-p1 {
    display: flex;
    flex-direction: column;
    grid-row-gap: 25px;
  }

  section .cards .cards-p2 {
    display: flex;
    flex-direction: column;
    grid-row-gap: 25px;
  }
}

/* HEADER - MAIN => POPULAIRE */
@media only screen and (max-width: 390px) {

  header nav ul .nav-item a {
    padding: 30px 10px 30px 10px;
  }

  header .intro .intro-searchbar input {
    min-width: 100px;
  }

  main .populaire {
    padding: 50px 20px;
  }

  main .populaire .card .card-img {
    min-width: 150px;
    max-width: 150px;
  }

}

/* CORRECTION TAILLE TEXT CARD => Populaire + Hebergement */
@media only screen and (max-width: 370px) {

  main > .populaire .card h5 {

    font-size: 16px;
  }
  
  main > .populaire .card p {

    font-size: 14px;
  }

  
  main #hotel .card i,
  main .populaire .card i {

    font-size: 14px;
    
  }

}

/* MAIN => POPULAIRE */
@media only screen and (max-width: 340px) {

  main .populaire .card .card-img {
    min-width: 120px;
    max-width: 120px;
  }

  main .populaire .card-link .card-body {
    padding: 15px 8px 5px 8px;
  }


  main #activity .card-body .card-title {
    font-size: 1.5rem;
  }

  main #activity .card-body .card-text {
    font-size: 1.5rem;
  }

  header .intro-searchbar input::placeholder {
    font-size: .7rem;
  }

  .intro-searchbar input {
    padding-left: 15px;
  }

  main #activity .card-text > strong {
    font-size: .7rem;
  }

}

/* MAIN => POPULAIRE */
@media only screen and (max-width: 300px) {

  main .populaire .card .card-img {
    min-width: 100px;
    max-width: 100px;
  }

  main .populaire .card-link .card-body {
    padding: 15px 8px 5px 8px;
  }


  main #activity .card-body .card-title {
    font-size: 1.5rem;
  }

  main #activity .card-body .card-text {
    font-size: 1.5rem;
  }

  header .intro-searchbar input::placeholder {
    font-size: .7rem;
  }

  .intro-searchbar input {
    padding-left: 15px;
  }

  main #activity .card-text > strong {
    font-size: .7rem;
  }

}
