
// ENTRE 1556px et 1201px DE LARGEUR
@media only screen and (max-width: 1556px) and (min-width: 1201px) {

    // CARDS 
    main {

        & article {

            & > .cards {

                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);

                grid-row-gap: 20px;

            }

        }

        & aside {

            & > .cards {

                height: 100%;

            }

        }

    }

}


// EN DESSOUS DE 1200px DE LARGEUR 
@media only screen and (max-width: 1200px) {

    // ###################### HEADER ############################

    // Correction NAVIGATION
    header {

        padding: 0!important;

        & nav {

            & ul {

                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                grid-template-areas: 
                "logo register"
                "link1 link2";
        
                & :nth-child(1) {
        
                    grid-area: logo;
        
                }
        
                
                & :nth-child(2) {
        
                    grid-area: link1;

        
                }
        
                
                & :nth-child(3) {
        
                    grid-area: link2;
        
                }
        
                
                & :nth-child(4) {
        
                    grid-area: register;
        
                }

                & li {

                    .navbar-logo {
    
                        text-align: left;
                        position: relative;
    
                        top: 0px;
                        left: 20px;
                        
                    }
                }

                & .nav-item a {

                    text-align: center;
                    border-top: none;
                    border-bottom: 3px solid $grey;

                    padding: 30px;

                    &.active {

                        border-top: none;
                        border-bottom: 3px solid $skyBlue;  

                    }

                    &.signup {

                        border-top: 3px solid transparent;
                        border-bottom: 3px solid transparent;
                        text-align: right;
                        padding-right: 20px;
    
                    }
                }



            }

        }

    }

    // Correction SEARCH BAR + MARGE SUR TOUS LINTRO
    header {

        & .intro {

            
            padding: 0 20px;

            & .intro-searchbar {

                max-width: 100%;

                & input {

                    min-width: 200px;
                    
                }
        
                & button {
        
                    max-width: 50px;
                    border-radius: 15px;
        
                    & span {
        
                        display: none;
        
                    }
        
                    & .fa-search {
        
                        display: block;
        
                    }
        
                }

            }

        }

    }

    // ###################### MAIN ############################
    // CARDS 
    main {

        padding: 0!important;

        display: flex;
        flex-direction: column-reverse;
    
        & article {

            padding: 50px 20px!important;
            margin-top: 3rem;

            background: none;

            & > .cards {

                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);

                grid-row-gap: 20px;

            }

        }

        & aside {
            
            padding: 50px 20px!important;

            max-height: 900px;
            border-radius: 0px;

            & > .cards {

                grid-row-gap: 20px!important;

            }

        }

    }

    // ###################### SECTION ############################
    section {

        padding: 0px 20px!important;

        & .cards {

            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;

            grid-row-gap: 50px;

            & .cards-p2 :nth-child(1) {

                grid-column-start: 2;
                grid-row-start: 1;
                grid-row-end: span 2;

            }

        }

    }

}

// CARTE Hebergement marseille
// EN DESSOUS DE 650px DE LARGEUR 
@media only screen and (max-width: 650px) {


    // ###################### MAIN ############################
    // CARDS 
    main {

        & article {

            & > .cards {

                grid-template-columns: 1fr;
                grid-template-rows: repeat(6, 1fr);

                grid-row-gap: 20px;

                & :nth-child(4) .card-img img,
                  :nth-child(6) .card-img img {

                    width: 100%;

                }

            }

        }

    }


    // ###################### SECTION ############################
    section {

        & .cards {

            & .cards-p1 {

                display: flex;
                flex-direction: column;
                
            }
        
            & .cards-p2 {
        
                display: flex;
                flex-direction: column;
        
            }

        }

    }

    // ###################### FOOTER ############################
    footer {

        padding: 0 30px!important;

        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        height: auto;

        text-align: left;

        & div {

            margin: 20px 0;
            width: 220px;

        }

        & :nth-child(1) {

            // Correction alignement A PROPOS
            position: static;
            top: 0px;
    
        }

    }

}
